.root{
    -fx-background-color: green;

    -fx-background-image: url(background.jpg);
    -fx-background-size: cover; /* Adjust size */
    -fx-background-repeat: no-repeat; /* No repeating */
    -fx-background-position: center; /* Center the image */
}
.circular-button {
    -fx-background-radius: 50%; /* Makes it circular */
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-background-color: #A9A9A9; /* Blue color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 14px;
    -fx-alignment: center;
}
/* Hover Effect */
.circular-button:hover {
    -fx-background-color: #945e95; /* Darker blue on hover */
    -fx-scale-x: 1.1; /* Slightly increase size */
    -fx-scale-y: 1.1;
}

.left-curved-button {
    -fx-background-color: rgba(163, 57, 223, 0.25); /* Blue color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 10px;
    -fx-padding: 5px 15px;
    -fx-background-radius: 15px 0px 0px 15px; /* only left Curved edges */
    -fx-border-radius: 15px 0px 0px 15px;
    -fx-border-width: 2px;

}
.right-curved-button {
    -fx-background-color: rgba(163, 57, 223, 0.25); /* Blue color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 10px;
    -fx-padding: 5px 15px;
    -fx-background-radius: 0px 15px 15px 0px; /* only right Curved edges */
    -fx-border-radius: 0px 15px 15px 0px;
    -fx-border-width: 2px;

}

.menu-middle-button {
    -fx-background-color: rgba(163, 57, 223, 0.25);
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-padding: 5px 15px;
}
.menu-middle-button:hover {
    -fx-background-color: #945e95;
    -fx-scale-x: 1.1; /* Slightly increase size */
    -fx-scale-y: 1.1;

}

.left-curved-button:hover {
    -fx-background-color: #945e95;
    -fx-scale-x: 1.1; /* Slightly increase size */
    -fx-scale-y: 1.1;
}
.right-curved-button:hover {
    -fx-background-color: #945e95;
    -fx-scale-x: 1.1; /* Slightly increase size */
    -fx-scale-y: 1.1;
}

/* Clicked Styles */
.left-curved-button-clicked {
    -fx-background-color: rgba(246, 248, 248, 0.75); /* Lighter color when clicked */
}

.right-curved-button-clicked {
    -fx-background-color: rgba(246, 248, 248, 0.75);
}

.middle-button-clicked {
    -fx-background-color: rgba(246, 248, 248, 0.75);
}

.daily-quote-box {
    -fx-background-color: rgba(163, 57, 223, 0.25);
    -fx-background-radius: 15px 15px 15px 15px;

}

.music-box {
    -fx-background-color: rgba(163, 57, 223, 0.25);
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-background-image: url("music_background-modified.png");
    -fx-background-size: 100% 100%; /* Scale image to fill the AnchorPane */
    -fx-background-repeat: no-repeat; /* Prevent tiling */
    -fx-background-position: center; /* Center the image */
}




.music-button {
    -fx-background-color: rgba(163, 57, 223, 0.5);
    -fx-background-radius: 50%;
}

.music-button:hover {
    -fx-background-color: rgba(163, 57, 223, 0.75);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


.yoga-box {
    -fx-background-color: rgba(163, 57, 223, 0.25);
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-background-image: url("yoga-modified.png");
    -fx-background-size: 100% 100%; /* Scale image to fill the AnchorPane */
    -fx-background-repeat: no-repeat; /* Prevent tiling */
    -fx-background-position: center; /* Center the image */
}

.user-menu-left-side {
    -fx-background-color: rgba(163, 57, 223, 0.25);
    -fx-background-radius: 15px 15px 15px 15px;
}

.user-menu-right-side {
    -fx-background-color: rgba(163, 57, 223, 0.25);
    -fx-background-radius: 15px 15px 15px 15px;
}

.user-menu-middle-side {
    -fx-background-color: rgba(163, 57, 223, 0.25);
    -fx-background-radius: 15px 15px 15px 15px;
}

.user-menu-left-sub-button {
    -fx-background-color: rgba(163, 57, 223, 0.25);
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-padding: 5px 15px;
}

.user-menu-left-sub-button:hover {
    -fx-background-color: #945e95;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.user-menu-left-sub-button-clicked {
    -fx-background-color: #3498db; /* Blue highlight */
    -fx-text-fill: white;
    -fx-border-radius: 15px 15px 15px 15px;
}